/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015. 2. 28, 9:07:50
    Author     : Jaewoong
*/

.highlight_footerIcon {
width:155px;
height:50px;
}

.highlight_footerIcon:hover{
-webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.btn-favoriteMovie {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: transparent;
}
